body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.container {
    width: 950px;
    margin: 0 auto;
}