body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

hr {
    margin: 0;
    border-bottom: none;
    border-color: #E8E8E8;
    margin-bottom: 17px;
}

.container {
    width: 950px;
    margin: 0 auto;
}