@media (max-width: 768px) {
    .title {
        font-size: 23px;

        &_left {
            text-align: center;
        }
    }

    .feed-form {
        margin: 0 auto;
    }

    .container {
        width: 540px;
    }

    .header {
        &__logo {
            width: 180px;
            font-size: 30px;
        }

        &__official {
            display: none;
        }

        &__contacts {
            flex-direction: row;
        }

        &__phone {
            margin-right: 10px;
        }
    }

    .promo {
        padding: 21px 7px 93px 7px;

        &__wrapper {
            align-items: center;
        }

        &__header {
            font-size: 28px;
        }

        &__subheader {
            font-size: 20px;
        }

        &__button {
            margin-bottom: 20px;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__card {
            width: 450px;

            &:not(:last-child) {
                margin-bottom: 45px;
            }
        }

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 18px;
        }
    }

    .consultation {
        text-align: center;

        &__description {
            font-size: 18px;
        }
    }
}

