@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .title {
        width: 320px;
        margin: 0 auto;
        margin-bottom: 60px;
        font-size: 28px;

        &_left {
            width: 320px;
            font-size: 21px;
            margin: 0 auto;
            margin-bottom: 8px;
        }
    }

    .header {
        &__logo {
            width: 120px;
            font-size: 24px;
        }

        &__contacts {
            flex-direction: column;
        }

        &__phone {
            margin-bottom: 8px;
        }
    }

    .promo {
        text-align: center;

        &__header {
            font-size: 26px;
        }

        &__icons {
            width: 100%;
            align-items: center;
            flex-direction: column;

            img {
                width: 55px;
            }
        }

        &__icon {
            width: 100%;
            font-size: 18px;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    .advantages {
        &__card {
            width: 100%;
            padding: 0 15px 0 15px;
        }
    }

    .consultation {
        padding: 50px 0 50px 0;

        &__description {
            font-size: 14px;
        }
    }

    .carousel {
        &__inner {
            width: 300px;
        }
    }

    .catalog {
        &__tabs {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &__tab {
            margin-bottom: 15px;
        }
    }

    .feedbacks {
        &__feedback {
            flex-direction: column;
            text-align: center;
            width: 300px;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        &__img {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}
