@media (max-width: 992px) {
    .title {
        &_left {
            font-size: 31px;
        }
    }

    .container {
        width: 720px;
    }

    .promo {
        &__header {
            font-size: 36px;
        }
    }

    .advantages {
        &__card {
            width: 220px;
        }

        &__text {
            font-size: 15px;
        }
    }

    .carousel {
        &__inner {
            width: 535px;

            img {
                width: 100%;
            }
        }
    }
}

